<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Website - About</title>
  </head>
  <body>
    <h1>Javian Saunders</h1>
    <p>
      I see myself as someone who aspires to achieve dreams that are neither
      excessively grand nor overly modest, but instead, they strike a harmonious
      balance between ambition and realism. My interest in web development, like
      many others, marked my starting point into the world of programming. The
      process of assembling various elements and witnessing them come together
      into a webpage both captivated and intrigued me from the outset.
    </p>
  </body>
</html>
